@import "./variables.scss";

h2 {
    color: $color-green;
    font-size: 3rem;
}

article {
  max-width: 1200px;
  margin: auto;
  background: white;
  padding: 20px;
  margin-top: 70px;

  h2 {
    font-size: 3rem;
  }
}

@media (max-width: 1200px) {
  article {
    margin-top: -80px;
    margin-bottom: 150px;
  }
}
